$primary-black: #030303;
$primary-accent: #4d3eee;
$body-text-grey: #787482;
$breakpoint-sm: 920px;
$breakpoint-md: 1200px;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    margin: 0;

    background: #fff;
    font-family: 'Poppins', sans-serif;

    @media all and (max-width: $breakpoint-sm) {
        margin-top: 5%;
    }
}

/*********************************************\
  FRONT PAGE HERO SECTION
\*********************************************/

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 15%;
    }
}

.hero-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 15%;
}

.hero-content {
	z-index: 1;
}

.hero-image {
	height: 90%;
	width: 100%;
	margin-left: -40%;
	margin-top: -12%;

    background-image: url("../img/hero.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	opacity: 0.75;

	@media all and (max-width: $breakpoint-sm) {
		display: none;
	}
}

.line {
    width: 80px;
    height: 3px;
    background-color: $primary-accent;
    margin-bottom: 150px;

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 15px;
    }
}

.hero-text {
    width: 75%;
    color: $primary-black;

    h1, h2 {
        line-height: 1.4;
    }

    h1 {
        font-size: 3.5em;
        font-weight: 600;
        margin-bottom: 1.5rem;

        @media all and (max-width: $breakpoint-sm) {
            font-size: 3.1em;
            margin-bottom: 1rem;
        }
    }

    h2 {
        font-weight: 400;
    }

    @media all and (max-width: $breakpoint-sm) {
        width: 80%;
    }
}

/*********************************************\
  FRONT PAGE PROJECTS LIST
\*********************************************/

.project {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 250px;

    &:nth-child(even) {
        margin-bottom: 180px;
    }

    &:last-child:not(:nth-child(even)) {
        margin-bottom: 0;
    }

    &:nth-child(even) .project-image {
        position: absolute;
        right: 2%;
        bottom: -50px;

        @media all and (max-width: $breakpoint-sm) {
            position: static;
        }
    }

    &:nth-child(even) .project-info {
        position: relative;
        bottom: -100px;
        right: 0;

        @media all and (max-width: $breakpoint-sm) {
            position: relative;
			z-index: 1;
			bottom: -50px;
        }

        @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            left: 4%;
        }
    }

    &:nth-child(even) .project-letter {
        position: absolute;
        right: -100px;
        width: 22%;
        left: initial;

        @media all and (max-width: $breakpoint-sm) {
            display: none;
        }

        @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            right: -8%;
        }
    }

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 100px;
    }
}

.project-image {
    background-color: gray;
    height: 550px;
    width: 40%;
    border-radius: 5px;
	background-position: center center;
	background-size: cover;

	&.traveliou {
		background-image: url("../img/traveliou-mobile.png");
	}

	&.predictor {
		background-image: url("../img/predictor-viz-front.png");
	}

    @media all and (max-width: $breakpoint-sm) {
        width: 100%;
        border-radius: 0;
    }

    @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        margin-left: 4%;
    }
}

.project-info {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 100px 0px;
    padding: 40px 35px;
    width: 50%;
    right: 20px;
    bottom: -50px;
    border-radius: 7px;

    h2 {
        width: 95%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-bottom: 25px;
    }

    p {
        width: 93%;
    }

    @media all and (max-width: $breakpoint-sm) {
        position: relative;
        width: 90%;
        margin: -5em auto 0;
		z-index: 1;
		right: initial;
    }
}

.project-link {
    display: inline-block;
    margin-top: 20px;
    color: $primary-accent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: darken($primary-accent, 17%);
        text-decoration: none;
        transform: translateY(-1px);
    }
}

.project-letter {
    font-weight: 600;
    color: $primary-accent;
    font-size: 220px;
    position: absolute;
    bottom: 80px;
    left: -40px;

    @media all and (max-width: $breakpoint-sm) {
        display: none;
    }

    @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        left: 1%;
    }
}

/*********************************************\
  SINGLE PROJECT PAGE
\*********************************************/

.top-bar {
	width: 70%;
	margin: 0 auto;
	padding: 10px 0px;

	@media all and (max-width: $breakpoint-sm) {
		width: 100%;
		text-align: center;
	}
}

.top-link {
	font-size: 1.2em;
}

.single-project {
	width: 70%;
	padding-top: 5%;
	margin: 0 auto;

	@media all and (max-width: $breakpoint-sm) {
		width: 87%;
	}
}

.project-name {
	margin-bottom: 30px;
}

.project-description {
	font-family: 'Rubik', sans-serif;
	color: $body-text-grey;
	font-size: 0.9em;
	width: 60%;
	line-height: 1.6em;
	letter-spacing: 0.1px;

	&:not(:first-of-type) {
		width: 100%;
	}

	@media all and (max-width: $breakpoint-sm) {
		width: 100%;
	}
}

.project-image__single {
	max-width: 100%;
    margin: 5% 0%;
	border-radius: 5px;
}

/*********************************************\
  FOOTER
\*********************************************/

.footer {
    width: 100%;
    padding: 200px 0 25px;
    text-align: center;

	&:not(.front-footer) {
		padding: 50px 0 25px;
	}

    p {
        margin-top: 10px;
    }
}

.contact-icons a {
    display: inline-block;
    padding: 5px;
}
