$primary-black: #030303;
$primary-accent: #4d3eee;
$body-text-grey: #787482;
$breakpoint-sm: 920px; // below this are mobile devices and portrait tablets (use max-width)
$breakpoint-md: 1280px; // landscape tablets and small laptops (use max width)
$breakpoint-lg: 1920px; // min-width to target big screens
$base-font-size: 16px;
$base-image-height: 550px;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    margin: 0;

    background: #fff;
    font-family: 'Poppins', sans-serif;

    @media all and (max-width: $breakpoint-sm) {
        margin-top: 5%;
    }

	@media all and (min-width: $breakpoint-lg) {
		font-size: 1.4em;
	}
}

.parallax-slower {
	transition-property: all;
}

.hidden {
	opacity: 0 !important;
}

.fadeIn {
	opacity: 1;
	transition: transform 200ms ease-in-out, opacity 200ms ease-in;

	&.loading {
		opacity: 0;
		transform: translate3d(-20px, 0px, 0px);
	}
}

.no-margin {
	margin:0 !important;
}

.no-style-btn {
	border: none;
	background: none;
	padding: 0;
}

.no-display {
	display: none !important;
}

.inline {
	display: inline-block;
}

/*********************************************\
  FRONT PAGE HERO SECTION
\*********************************************/

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 15%;
    }
}

.hero-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 15%;
}

.hero-content {
	z-index: 1;
}

.hero-image {
	height: 90%;
	width: 100%;
	margin-left: -40%;
	margin-top: -12%;

    background-image: url("../img/hero.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	opacity: 0.75;

	transition: transform 200ms ease-out, opacity 200ms ease-in;

	@media all and (max-width: $breakpoint-sm) {
		display: none;
	}

	@media all and (min-width: $breakpoint-lg) {
		margin-top: -8%;
	}
}

.line {
    width: 80px;
    height: 3px;
    background-color: $primary-accent;
    margin-bottom: 150px;

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 15px;
    }
}

.hero-text {
    width: 75%;
    color: $primary-black;

    h1, h2 {
        line-height: 1.4;
    }

    h1 {
        font-size: 3.5em;
        font-weight: 600;
        margin-bottom: 1.5rem;

        @media all and (max-width: $breakpoint-sm) {
            font-size: 3.0em;
            margin-bottom: 1rem;
        }
    }

    h2 {
        font-weight: 400;

		@media all and (max-width: $breakpoint-sm) {
            font-size: 1.8em;
        }
    }

    @media all and (max-width: $breakpoint-sm) {
        width: 80%;
    }
}

/*********************************************\
  FRONT PAGE PROJECTS LIST
\*********************************************/

.project {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 250px;

    &:nth-child(even) {
        margin-bottom: 180px;
    }

    &:last-child:not(:nth-child(even)) {
        margin-bottom: 0;
    }

    &:nth-child(even) .project-image {
        position: absolute;
        right: 2%;
        bottom: -50px;

        @media all and (max-width: $breakpoint-sm) {
            position: static;
        }

		@media all and (min-width: $breakpoint-lg) {
			bottom: -150px;
		}
    }

    &:nth-child(even) .project-info {
        position: relative;
        bottom: -100px;
        right: 0;

        @media all and (max-width: $breakpoint-sm) {
            position: relative;
			z-index: 1;
			bottom: -50px;
        }

        @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            left: 4%;
        }

		@media all and (min-width: $breakpoint-lg) {
			right: -7%;
		}
    }

    &:nth-child(even) .project-letter {
        position: absolute;
        right: -14%;
        width: 22%;
        left: initial;

        @media all and (max-width: $breakpoint-sm) {
            display: none;
        }

        @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
            right: -8%;
        }
    }

    @media all and (max-width: $breakpoint-sm) {
        margin-bottom: 100px;
    }

	@media all and (min-width: $breakpoint-lg) {
		margin: 0 12% 20% 12%;
		max-width: initial;
	}
}

.project-image {
    background-color: gray;
    height: $base-image-height;
    width: 40%;
    border-radius: 5px;
	background-position: center center;
	background-size: cover;

	&.traveliou {
		//background-image: url("../img/traveliou-mobile.png");
	}

	&.predictor {
		//background-image: url("../img/predictor-viz-front.png");
	}

	&.ained-ttu {
		//background-image: url("../img/ained-front.png");
	}

    @media all and (max-width: $breakpoint-sm) {
        width: 100%;
        border-radius: 0;
    }

    @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        margin-left: 4%;
    }

	@media all and (min-width: $breakpoint-lg) {
		height: $base-image-height*1.5;
	}
}

.project-info {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 100px 0px;
    padding: 40px 35px;
    width: 50%;
    right: 2%;
    bottom: -5%;
    border-radius: 7px;

    h2 {
        width: 95%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        margin-bottom: 25px;

		@media all and (min-width: $breakpoint-lg) {
			font-size: 1.25em;
		}
    }

    p {
        width: 93%;

		@media all and (min-width: $breakpoint-lg) {
			font-size: 0.75em;
		}
    }

    @media all and (max-width: $breakpoint-sm) {
        position: relative;
        width: 90%;
        margin: -5em auto 0;
		z-index: 1;
		right: initial;
    }

	@media all and (min-width: $breakpoint-lg) {
		padding: 60px 50px;
		width: 40%;
		right: 10%;
	}
}

.project-link {
    display: inline-block;
    margin-top: 20px;
    color: $primary-accent;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: darken($primary-accent, 17%);
        text-decoration: none;
        transform: translateY(-1px);
    }

	@media all and (min-width: $breakpoint-lg) {
		font-size: 0.75em;
	}
}

.project-letter {
    font-weight: 600;
    color: $primary-accent;
    font-size: 220px;
    position: absolute;
    bottom: 8%;
    left: -4%;
	transition-property: all;

    @media all and (max-width: $breakpoint-sm) {
        display: none;
    }

    @media all and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        left: 1%;
    }
}

/*********************************************\
  SINGLE PROJECT PAGE
\*********************************************/

.top-bar {
	width: 70%;
	margin: 0 auto;
	padding: 10px 0px;

	@media all and (max-width: $breakpoint-sm) {
		width: 90%;
	}
}

.top-link {
	display: flex;
    flex-direction: row;
    align-items: center;
	font-size: 1.2em;

	img {
		width: 20px;
	}

	span {
		padding-left: 0.5%;
	}

	@media all and (max-width: $breakpoint-sm) {
	    padding-left: 7%;
	}

	@media all and (min-width: $breakpoint-lg) {
		font-size: 1em;
		margin-top: 4%;
	}
}

.single-project {
	width: 70%;
	padding-top: 5%;
	margin: 0 auto;

	@media all and (max-width: $breakpoint-sm) {
		width: 87%;
	}
}

.project-name {
	margin-bottom: 30px;

	@media all and (min-width: $breakpoint-lg) {
		font-size: 3em;
	}
}

.project-description {
	font-family: 'Rubik', sans-serif;
	color: $body-text-grey;
	font-size: 1em;
	width: 60%;
	line-height: 1.6em;
	letter-spacing: 0.1px;

	&:not(:first-of-type) {
		width: 100%;
	}

	@media all and (max-width: $breakpoint-sm) {
		width: 100%;
	}

	@media all and (min-width: $breakpoint-lg) {
		font-size: 0.75em;
	}
}

.project-image__single {
	max-width: 100%;
	margin: 5% 0%;
	border-radius: 5px;
}

/*********************************************\
  FOOTER
\*********************************************/

.footer {
    width: 100%;
    padding: 200px 0 30px;
    text-align: center;
	color: $body-text-grey;

	&:not(.front-footer) {
		padding: 50px 0 25px;

		@media all and (min-width: $breakpoint-lg) {
			padding: 75px 0 50px;
		}
	}

    p {
        margin-top: 10px;

		@media all and (min-width: $breakpoint-lg) {
			font-size: 0.7em;
		}
    }

	a {
		display: inline-block;
		color: $primary-accent;
		transition: all 100ms ease-in-out;

		&:hover {
			text-decoration: none;
			color: darken($primary-accent, 17%);
			transform: translateY(-1px);
		}
	}

	@media all and (min-width: $breakpoint-lg) {
		padding: 200px 0 50px;
	}
}

.contact-icons a {
    display: inline-block;
    padding: 5px;

	img {
		width: 22px;
    	height: auto;
	}
}

#copyBtn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;

	 &:before {
	    content: '';
	    display: none;
	    position: absolute;
	    z-index: 9998;
	    top: 50%;
	    left: 100%;
	    width: 0;
	    height: 0;
		margin-top: -11px;

	    border-right: 8px solid $primary-black;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	  }

	  &:after {
	    content: 'Copy to Clipboard';
	    display: none;
	    position: absolute;
	    z-index: 9999;
	    top: -20%;
	    left: 115%;
	    width: 114px;
	    height: 30px;

	    color: #fff;
	    font-size: 10px;
	    line-height: 30px;
	    text-align: center;

	    background: $primary-black;
	    border-radius: 3px;
	  }

	  &:hover {

	    &:before, &:after {
	      display: block;
	    }

		svg {
			fill: $primary-accent;
		}
	  }

	  &:active, &:focus {
	    outline: none;

	    &:after {
	      content: 'Copied!';
	    }
	  }
}

#copyBtn svg {
	fill: $body-text-grey;
	transition: fill 100ms ease-in;


	@media all and (min-width: $breakpoint-lg) {
		width: 18px;
		height: 18px;
	}
}

/*********************************************\
  MODAL
\*********************************************/

.modal-image {
	width: 100%;
	border-radius: 5px;
}

.modal-content {
	width: 95%;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
}

.modal-dialog-centered {
	display: flex;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: initial;
	}
}
